@font-face {
  font-family: "Montserrat-Regular";
  src: url("../polices/Montserrat-Regular.ttf");
}
body {
	margin: 0;
    font-family: 'Montserrat', sans-serif;
}
li {
	list-style-type: none; 
}
a {
	text-decoration: none;
	color: red;
}
a:hover {
	color: red;
	text-decoration: none;
	border-bottom: 2px solid blue;
}
.menu-navigation {
	display: flex;
	justify-content: space-between;
}
.text-italic {
	background-color: white;
	border: 1px solid black;
	font-size: 40px;
	text-align: center;
	height: 200px;
	position: absolute;
	top: 25%;
}
.titre {
	position: absolute;
}
.bg-fleur{
	background-image: url('../fleur.png');
	width: 850px;
	height: 489px;
	background-repeat: no-repeat;
	color : #ffffff;
}
h1 {
	font-size: 70px;
}
.reset{
	margin: 0;
	padding: 0;	
}

.debug{
	background-color: red;
	height: 60vh;	
}
.format{
	position: absolute;
	width: 100%;
	color : #ffffff;
	height: 60vh;	
}
.titre{
	position: absolute;
	color: #ffffff;
	margin-top: 22vh;
}
.citation{
    position: absolute;
    height: 20vh;
    background-color: #ffffff;
    z-index: 5;
    width: 65%;
    margin-top: 20vh;
    left: 42vh;
    font-size: 40px;
    text-align: center;
    padding-top: 4vh;
}
.boutonPPA