@font-face {
  font-family: "Montserrat-Regular";
  src: url("../polices/Montserrat-Regular.ttf");
}


body {
	margin: 0;
    font-family: 'Montserrat', sans-serif;
}
li {
	list-style-type: none; 
}
a {
	text-decoration: none;
	color: red;
}
a:hover {
	color: red;
	text-decoration: none;
	border-bottom: 2px solid blue;
}
.menu-navigation {
	display: flex;
<<<<<<< HEAD
}

































/*Samuel*/
h2 {
    font-family: 'Montserrat' , sans-serif;
    font-size: 80px;
    color: black;
}

article {
    font-family: 'Montserrat' , sans-serif;
    font-size: 30px;
    color: black;
}













=======
	justify-content: space-between;
}
.text-italic {
	background-color: white;
	border: 1px solid black;
	font-size: 40px;
	text-align: center;
	height: 200px;
	position: absolute;
	top: 25%;
}
.row {
	position: relative;
}
.titre {
	position: absolute;
>>>>>>> 3f886375bfbd87fd44ca2a82755a1c9823a7836b
}