@font-face {
  font-family: "Montserrat-Regular";
  src: url("../polices/Montserrat-Regular.ttf");
}


body {
	margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.menu-navigation {
	display: flex;
}














































/*Samuel*/
h2 {
    font-family: 'Montserrat' , sans-serif;
    font-size: 80px;
    color: black;
}

article {
    font-family: 'Montserrat' , sans-serif;
    font-size: 30px;
    color: black;
}